hw8/.vs/VSWorkspaceState.json
hw8/.vs/slnx.sqlite
hw8/.vs/hw8/v17/ipch/AutoPCH/8c3c1baecf94ae9d/HW8.ipch
hw8/.vs/hw8/v17/DocumentLayout.json
hw8/.vs/hw8/v17/DocumentLayout.backup.json
hw8/.vs/hw8/v17/Browse.VC.opendb
hw8/.vs/hw8/v17/Browse.VC.db-wal
hw8/.vs/hw8/v17/Browse.VC.db-shm
hw8/.vs/hw8/v17/Browse.VC.db
hw8/.vs/hw8/v17/.wsuo
hw8/.vs/hw8/FileContentIndex/f2c18b38-f160-4ac8-a3ea-bbaa9f96d54d.vsidx
hw8/.vs/hw8/FileContentIndex/ef92f282-ff07-4c30-887a-125a1475966f.vsidx
hw8/.vs/hw8/FileContentIndex/e4c8c0b6-871c-4dd3-ab6c-df3af9967ff0.vsidx
hw8/.vs/hw8/FileContentIndex/c18e4e06-f80e-4f9b-a028-061320b07f3f.vsidx
hw8/.vs/hw8/FileContentIndex/365b34f9-03f8-4fd2-8332-53e508f0c0a5.vsidx
hw8/.vs/hw8/FileContentIndex/18ae1d18-c2a4-490c-a6a1-efa575c2d44f.vsidx
